<div
  id="main-layout"
  class="h-screen box-border p-3 bg-no-repeat bg-right-bottom"
  style="
    background-image: url(&quot;/assets/images/dashboard/bg-dashboard.jpg&quot;);
    background-size: 700%;
    background-position: 75% 35%;
  "
>
  <div class="flex h-full gap-3">
    <!-- Sidebar -->
    <app-sidebar class="block h-full"></app-sidebar>

    <!-- Body -->
    <div id="layout-body" class="flex flex-col flex-1 gap-3 overflow-hidden">
      <!-- Header -->
      <app-header></app-header>

      <!-- Content -->
      <div
        id="container"
        class="flex-1 bg-white/70 rounded-2xl p-4 overflow-auto"
      >
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
