<section>
    <h3 class="mb-4 text-[13px  ] font-semibold uppercase text-[#172B4D]">
        ADDRESS
    </h3>

    <!-- Address -->
    <div class="mb-3">
        <input type="text" placeholder="Address"
            class="h-11 w-full rounded-md border border-[#D0D5DD] px-3 text-[13px] outline-none placeholder:text-[#758195]" />
    </div>

    <!-- Row -->
    <div class="mb-3 grid grid-cols-3 gap-3">
        <input type="text" placeholder="City"
            class="h-11 rounded-md border border-[#D0D5DD] px-3 text-[13px] outline-none placeholder:text-[#758195]" />

        <input type="text" placeholder="State/Province"
            class="h-11 rounded-md border border-[#D0D5DD] px-3 text-[13px] outline-none placeholder:text-[#758195]" />

        <input type="text" placeholder="Zip code"
            class="h-11 rounded-md border border-[#D0D5DD] px-3 text-[13px] outline-none placeholder:text-[#758195]" />
    </div>

    <!-- Button -->
    <button type="button" class="rounded-md bg-[#F2F4F7] px-4 py-2 text-[13px] text-[#98A2B3]">
        Verify address
    </button>
</section>