<div class="grid grid-cols-3 items-center border-t border-[#f1f5f9] px-4 py-3">
    <!-- Left -->
    <div class="flex items-center gap-2 text-sm text-[#172B4D] font-medium">
        <span>Items per page</span>

        <button
            class="flex min-w-[56px] items-center justify-between rounded-lg border border-[#e5e7eb] px-2 py-1.5 text-sm text-[#374151]">
            <span>15</span>
            <i class="pi pi-sort-down-fill text-xs text-[#9ca3af]"></i>
        </button>
    </div>

    <!-- Center -->
    <div class="flex items-center justify-center gap-2">
        <!-- Nút Previous -->
        <button
            class="flex h-8 w-8 items-center justify-center rounded border border-[#e2e8f0] bg-[#091E4214]/8 text-[#142748] hover:bg-slate-50">
            <i class="pi pi-chevron-left text-[10px]"></i>
        </button>

        <!-- Nút Active (Số 1) -->
        <button
            class="flex h-8 w-8 items-center justify-center rounded bg-[#091E4214] text-sm font-bold text-[#172B4D]">
            1
        </button>

        <!-- Nút Số 2 -->
        <button
            class="flex h-8 w-8 items-center justify-center rounded border border-[#e2e8f0] bg-white text-sm text-[#334155] hover:bg-slate-50">
            2
        </button>

        <!-- Dấu ba chấm -->
        <button
            class="flex h-8 w-8 items-center justify-center rounded border border-[#e2e8f0] bg-white text-sm text-[#64748b]">
            ...
        </button>

        <!-- Nút Số 99 - Bây giờ đã bằng w-8 (32px) -->
        <button
            class="flex h-8 w-8 items-center justify-center rounded border border-[#e2e8f0] bg-white text-sm text-[#334155] hover:bg-slate-50">
            99
        </button>

        <!-- Nút Số 100 - Vẫn bằng w-8 (32px) -->
        <button
            class="flex h-8 w-8  items-center justify-center rounded border border-[#e2e8f0] bg-white text-sm text-[#334155] hover:bg-slate-50">
            100
        </button>

        <!-- Nút Next -->
        <button
            class="flex h-8 w-8 items-center justify-center rounded border border-[#e2e8f0] bg-white text-[#334155] hover:bg-slate-50">
            <i class="pi pi-chevron-right text-[10px]"></i>
        </button>
    </div>


    <!-- Right -->
    <div class="flex items-center justify-end gap-2 text-sm text-[#19191a] font-medium">
        <span>Jump to</span>

        <button
            class="flex h-8 w-12 items-center justify-center rounded-lg border border-[#e5e7eb] px-3 py-1.5 text-sm text-[#0d0d0d]">
            1
        </button>
    </div>
</div>