<div class="bg-white w-full max-w-md px-8 py-10 rounded-[24px] shadow-lg">
  <form [formGroup]="loginForm" (ngSubmit)="handleSubmit()">
    <div>
      <h1
        class="text-2xl font-bold text-gray-900 mb-2 text-center leading-normal"
      >
        CRM Home
      </h1>
    </div>
    <div class="py-4 px-3">
      <div
        class="flex items-center border-b-2 border-gray-300 placeholder-gray-500 py-2 mx-2 my-5"
      >
        <!-- <label for="">Username</label> -->
        <input
          class="w-full outline-none"
          type="text"
          formControlName="username"
          placeholder="Username"
        />
        <span class="pi pi-user"></span>
      </div>
      <div
        class="relative flex items-center border-b-2 border-gray-300 placeholder-gray-500 py-2 mx-2 my-5"
      >
        <!-- <label for="">Pass</label> -->
        <input
          [type]="showPassword ? 'text' : 'password'"
          formControlName="password"
          placeholder="Pass"
          class="w-full outline-none"
        />
        <i
          class="pi cursor-pointer"
          [ngClass]="showPassword ? 'pi-eye' : 'pi-eye-slash'"
          (click)="togglePassword()"
        ></i>
      </div>
    </div>
    <div class="flex justify-center content-center my-5 mb-2">
      <button
        type="submit"
        class="w-[80%] h-13 text-white rounded-5xl bg-brand-primary hover:bg-green-500"
      >
        ENTRAR
      </button>
    </div>
  </form>
</div>
